USE [master]
GO
/****** Object:  Database [quan_ly_nha_hang]    Script Date: 4/15/2026 4:46:22 PM ******/
CREATE DATABASE [quan_ly_nha_hang]
 CONTAINMENT = NONE

 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quan_ly_nha_hang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quan_ly_nha_hang]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaMon] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonNhap]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonNhap](
	[MaCTHDN] [int] IDENTITY(1,1) NOT NULL,
	[MaHDN] [int] NOT NULL,
	[MaNL] [int] NOT NULL,
	[SoLuongKG] [decimal](10, 2) NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietMonAn]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietMonAn](
	[MaCTMA] [int] IDENTITY(1,1) NOT NULL,
	[MaMon] [int] NOT NULL,
	[MaNL] [int] NOT NULL,
	[SoLuongKG] [decimal](10, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTMA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanhThuThang]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThuThang](
	[MaDT] [int] IDENTITY(1,1) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[TongDoanhThu] [decimal](18, 2) NOT NULL,
	[TongChiPhi] [decimal](18, 2) NOT NULL,
	[LoiNhuan] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaBan] [int] NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThaiThanhToan] [nvarchar](50) NOT NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[MaHDN] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[MaDM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[MaNL] [int] IDENTITY(1,1) NOT NULL,
	[TenNL] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[MaNCC] [int] NOT NULL,
	[SoLuongTonKho] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 4/15/2026 4:46:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[PhuongThucThanhToan] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([MaBan], [TrangThai]) VALUES (1, N'Trống')
INSERT [dbo].[Ban] ([MaBan], [TrangThai]) VALUES (2, N'Trống')
INSERT [dbo].[Ban] ([MaBan], [TrangThai]) VALUES (3, N'Trống')
SET IDENTITY_INSERT [dbo].[Ban] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaMon], [SoLuong]) VALUES (1, 1, 1, 1)
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaMon], [SoLuong]) VALUES (2, 1, 10, 2)
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaMon], [SoLuong]) VALUES (3, 2, 2, 6)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonNhap] ON 

INSERT [dbo].[ChiTietHoaDonNhap] ([MaCTHDN], [MaHDN], [MaNL], [SoLuongKG], [DonGiaNhap]) VALUES (1, 1, 1, CAST(10.00 AS Decimal(10, 2)), CAST(210000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDonNhap] ([MaCTHDN], [MaHDN], [MaNL], [SoLuongKG], [DonGiaNhap]) VALUES (2, 1, 2, CAST(20.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDonNhap] ([MaCTHDN], [MaHDN], [MaNL], [SoLuongKG], [DonGiaNhap]) VALUES (3, 1, 3, CAST(8.00 AS Decimal(10, 2)), CAST(130000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietMonAn] ON 

INSERT [dbo].[ChiTietMonAn] ([MaCTMA], [MaMon], [MaNL], [SoLuongKG]) VALUES (1, 1, 1, CAST(0.300 AS Decimal(10, 3)))
INSERT [dbo].[ChiTietMonAn] ([MaCTMA], [MaMon], [MaNL], [SoLuongKG]) VALUES (2, 1, 16, CAST(0.050 AS Decimal(10, 3)))
INSERT [dbo].[ChiTietMonAn] ([MaCTMA], [MaMon], [MaNL], [SoLuongKG]) VALUES (3, 2, 2, CAST(0.400 AS Decimal(10, 3)))
SET IDENTITY_INSERT [dbo].[ChiTietMonAn] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (1, N'Món ăn chính')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (2, N'Món ăn phụ')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (4, N'Món tráng miệng')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DoanhThuThang] ON 

INSERT [dbo].[DoanhThuThang] ([MaDT], [Thang], [Nam], [TongDoanhThu], [TongChiPhi], [LoiNhuan]) VALUES (81, 3, 2026, CAST(2450000.00 AS Decimal(18, 2)), CAST(549500.00 AS Decimal(18, 2)), CAST(1900500.00 AS Decimal(18, 2)))
INSERT [dbo].[DoanhThuThang] ([MaDT], [Thang], [Nam], [TongDoanhThu], [TongChiPhi], [LoiNhuan]) VALUES (82, 4, 2026, CAST(1535000.00 AS Decimal(18, 2)), CAST(414200.00 AS Decimal(18, 2)), CAST(1120800.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DoanhThuThang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [MaBan], [ThoiGian], [TongTien], [TrangThaiThanhToan], [PhuongThucThanhToan]) VALUES (1, 1, 1, 1, CAST(N'2026-03-05T18:30:00.000' AS DateTime), CAST(230000.00 AS Decimal(18, 2)), N'Đã thanh toán', N'Tiền mặt')
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [MaBan], [ThoiGian], [TongTien], [TrangThaiThanhToan], [PhuongThucThanhToan]) VALUES (2, 2, 2, 2, CAST(N'2026-03-12T12:00:00.000' AS DateTime), CAST(1400000.00 AS Decimal(18, 2)), N'Đã thanh toán', N'Chuyển khoản')
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [MaBan], [ThoiGian], [TongTien], [TrangThaiThanhToan], [PhuongThucThanhToan]) VALUES (3, 3, 1, 3, CAST(N'2026-03-18T19:15:00.000' AS DateTime), CAST(340000.00 AS Decimal(18, 2)), N'Đã thanh toán', N'Chuyển khoản')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDonNhap] ON 

INSERT [dbo].[HoaDonNhap] ([MaHDN], [MaNCC], [MaNV], [NgayNhap], [TongTien]) VALUES (1, 3, 1, CAST(N'2026-02-28T08:00:00.000' AS DateTime), CAST(10270000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDonNhap] ([MaHDN], [MaNCC], [MaNV], [NgayNhap], [TongTien]) VALUES (2, 1, 2, CAST(N'2026-02-27T09:00:00.000' AS DateTime), CAST(5780000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDonNhap] ([MaHDN], [MaNCC], [MaNV], [NgayNhap], [TongTien]) VALUES (3, 2, 3, CAST(N'2026-03-01T10:00:00.000' AS DateTime), CAST(4600000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[HoaDonNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SoDienThoai]) VALUES (1, N'Nguyễn Văn A', N'Cầu Giấy, Hà Nội', N'0123456789')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SoDienThoai]) VALUES (2, N'Trần Thị B', N'Ba Đình, Hà Nội', N'0987654321')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SoDienThoai]) VALUES (3, N'Nguyễn Văn C', N'123 Lê Lợi, TP.HCM', N'0123456780')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[MonAn] ON 

INSERT [dbo].[MonAn] ([MaMon], [TenMon], [Gia], [MaDM]) VALUES (1, N'Tôm Sú Nướng Muối Ớt', CAST(180000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[MonAn] ([MaMon], [TenMon], [Gia], [MaDM]) VALUES (2, N'Hàu Nướng Phô Mai', CAST(100000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[MonAn] ([MaMon], [TenMon], [Gia], [MaDM]) VALUES (3, N'Bạch Tuộc Nướng Sa Tế', CAST(170000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[MonAn] OFF
GO
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON 

INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonGia], [MaNCC], [SoLuongTonKho]) VALUES (1, N'Tôm Sú', CAST(210000.00 AS Decimal(18, 2)), 3, CAST(10.80 AS Decimal(18, 2)))
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonGia], [MaNCC], [SoLuongTonKho]) VALUES (2, N'Hàu Sữa', CAST(45000.00 AS Decimal(18, 2)), 3, CAST(20.20 AS Decimal(18, 2)))
INSERT [dbo].[NguyenLieu] ([MaNL], [TenNL], [DonGia], [MaNCC], [SoLuongTonKho]) VALUES (3, N'Bạch Tuộc tươi', CAST(130000.00 AS Decimal(18, 2)), 3, CAST(7.60 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC]) VALUES (3, N'Công Ty TNHH Hải sản Hà Nội')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC]) VALUES (2, N'Công ty TNHH Nước giải khát')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC]) VALUES (1, N'Công ty TNHH Thực phẩm Sạch')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [SoDienThoai]) VALUES (1, N'Trần Xuân Uẩn', N'Quản lý', N'0900000001')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [SoDienThoai]) VALUES (2, N'Nguyễn Hữu Thịnh', N'Nhân viên phục vụ', N'0900000002')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [SoDienThoai]) VALUES (3, N'Hoàng Minh Sơn', N'Nhân viên phục vụ', N'0900000003')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhToan] ON 

INSERT [dbo].[ThanhToan] ([MaTT], [MaHD], [SoTien], [ThoiGian], [PhuongThucThanhToan]) VALUES (1, 1, CAST(230000.00 AS Decimal(18, 2)), CAST(N'2026-03-05T19:30:00.000' AS DateTime), N'Tiền mặt')
INSERT [dbo].[ThanhToan] ([MaTT], [MaHD], [SoTien], [ThoiGian], [PhuongThucThanhToan]) VALUES (2, 2, CAST(1400000.00 AS Decimal(18, 2)), CAST(N'2026-03-12T13:00:00.000' AS DateTime), N'Chuyển khoản')
INSERT [dbo].[ThanhToan] ([MaTT], [MaHD], [SoTien], [ThoiGian], [PhuongThucThanhToan]) VALUES (3, 3, CAST(340000.00 AS Decimal(18, 2)), CAST(N'2026-03-18T20:30:00.000' AS DateTime), N'Chuyển khoản')
SET IDENTITY_INSERT [dbo].[ThanhToan] OFF
GO
/****** Object:  Index [uq_ChiTietHoaDon]    Script Date: 4/15/2026 4:46:23 PM ******/
ALTER TABLE [dbo].[ChiTietHoaDon] ADD  CONSTRAINT [uq_ChiTietHoaDon] UNIQUE NONCLUSTERED 
(
	[MaHD] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietHoaDon_MaHD]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon_MaHD] ON [dbo].[ChiTietHoaDon]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietHoaDon_MaMon]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon_MaMon] ON [dbo].[ChiTietHoaDon]
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_ChiTietHoaDonNhap]    Script Date: 4/15/2026 4:46:23 PM ******/
ALTER TABLE [dbo].[ChiTietHoaDonNhap] ADD  CONSTRAINT [uq_ChiTietHoaDonNhap] UNIQUE NONCLUSTERED 
(
	[MaHDN] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_ChiTietMonAn]    Script Date: 4/15/2026 4:46:23 PM ******/
ALTER TABLE [dbo].[ChiTietMonAn] ADD  CONSTRAINT [uq_ChiTietMonAn] UNIQUE NONCLUSTERED 
(
	[MaMon] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietMonAn_MaMon]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietMonAn_MaMon] ON [dbo].[ChiTietMonAn]
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietMonAn_MaNL]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietMonAn_MaNL] ON [dbo].[ChiTietMonAn]
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_DanhMuc_TenDM]    Script Date: 4/15/2026 4:46:23 PM ******/
ALTER TABLE [dbo].[DanhMuc] ADD  CONSTRAINT [uq_DanhMuc_TenDM] UNIQUE NONCLUSTERED 
(
	[TenDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_DoanhThuThang_ThangNam]    Script Date: 4/15/2026 4:46:23 PM ******/
ALTER TABLE [dbo].[DoanhThuThang] ADD  CONSTRAINT [uq_DoanhThuThang_ThangNam] UNIQUE NONCLUSTERED 
(
	[Thang] ASC,
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_MaKH]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_MaKH] ON [dbo].[HoaDon]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_MaNV]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_MaNV] ON [dbo].[HoaDon]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDon_ThoiGian]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDon_ThoiGian] ON [dbo].[HoaDon]
(
	[ThoiGian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDonNhap_MaNCC]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDonNhap_MaNCC] ON [dbo].[HoaDonNhap]
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HoaDonNhap_MaNV]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_HoaDonNhap_MaNV] ON [dbo].[HoaDonNhap]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_KhachHang_SoDienThoai]    Script Date: 4/15/2026 4:46:23 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [uq_KhachHang_SoDienThoai] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_MonAn_TenMon]    Script Date: 4/15/2026 4:46:23 PM ******/
ALTER TABLE [dbo].[MonAn] ADD  CONSTRAINT [uq_MonAn_TenMon] UNIQUE NONCLUSTERED 
(
	[TenMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MonAn_MaDM]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_MonAn_MaDM] ON [dbo].[MonAn]
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NguyenLieu_MaNCC]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_NguyenLieu_MaNCC] ON [dbo].[NguyenLieu]
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_NhaCungCap_TenNCC]    Script Date: 4/15/2026 4:46:23 PM ******/
ALTER TABLE [dbo].[NhaCungCap] ADD  CONSTRAINT [uq_NhaCungCap_TenNCC] UNIQUE NONCLUSTERED 
(
	[TenNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThanhToan_MaHD]    Script Date: 4/15/2026 4:46:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThanhToan_MaHD] ON [dbo].[ThanhToan]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((0)) FOR [SoLuongTonKho]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [fk_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietHoaDon_MonAn] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonAn] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [fk_ChiTietHoaDon_MonAn]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [fk_CTHDN_HoaDonNhap] FOREIGN KEY([MaHDN])
REFERENCES [dbo].[HoaDonNhap] ([MaHDN])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap] CHECK CONSTRAINT [fk_CTHDN_HoaDonNhap]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [fk_CTHDN_NguyenLieu] FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap] CHECK CONSTRAINT [fk_CTHDN_NguyenLieu]
GO
ALTER TABLE [dbo].[ChiTietMonAn]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietMonAn_MonAn] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonAn] ([MaMon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietMonAn] CHECK CONSTRAINT [fk_ChiTietMonAn_MonAn]
GO
ALTER TABLE [dbo].[ChiTietMonAn]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietMonAn_NguyenLieu] FOREIGN KEY([MaNL])
REFERENCES [dbo].[NguyenLieu] ([MaNL])
GO
ALTER TABLE [dbo].[ChiTietMonAn] CHECK CONSTRAINT [fk_ChiTietMonAn_NguyenLieu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [fk_HoaDon_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [fk_HoaDon_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [fk_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [fk_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [fk_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [fk_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [fk_HoaDonNhap_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [fk_HoaDonNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [fk_HoaDonNhap_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [fk_HoaDonNhap_NhanVien]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [fk_MonAn_DanhMuc] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [fk_MonAn_DanhMuc]
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD  CONSTRAINT [fk_NguyenLieu_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[NguyenLieu] CHECK CONSTRAINT [fk_NguyenLieu_NhaCungCap]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [fk_ThanhToan_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [fk_ThanhToan_HoaDon]
GO
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [ck_Ban_TrangThai] CHECK  (([TrangThai]=N'Đã đặt trước' OR [TrangThai]=N'Đang sử dụng' OR [TrangThai]=N'Trống'))
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [ck_Ban_TrangThai]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [ck_ChiTietHoaDon_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [ck_ChiTietHoaDon_SoLuong]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [ck_CTHDN_DonGiaNhap] CHECK  (([DonGiaNhap]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap] CHECK CONSTRAINT [ck_CTHDN_DonGiaNhap]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [ck_CTHDN_SoLuong] CHECK  (([SoLuongKG]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap] CHECK CONSTRAINT [ck_CTHDN_SoLuong]
GO
ALTER TABLE [dbo].[ChiTietMonAn]  WITH CHECK ADD  CONSTRAINT [ck_ChiTietMonAn_SoLuongKG] CHECK  (([SoLuongKG]>(0)))
GO
ALTER TABLE [dbo].[ChiTietMonAn] CHECK CONSTRAINT [ck_ChiTietMonAn_SoLuongKG]
GO
ALTER TABLE [dbo].[DoanhThuThang]  WITH CHECK ADD  CONSTRAINT [ck_DoanhThuThang_LoiNhuan] CHECK  (([LoiNhuan]>=(0)))
GO
ALTER TABLE [dbo].[DoanhThuThang] CHECK CONSTRAINT [ck_DoanhThuThang_LoiNhuan]
GO
ALTER TABLE [dbo].[DoanhThuThang]  WITH CHECK ADD  CONSTRAINT [ck_DoanhThuThang_Thang] CHECK  (([Thang]>=(1) AND [Thang]<=(12)))
GO
ALTER TABLE [dbo].[DoanhThuThang] CHECK CONSTRAINT [ck_DoanhThuThang_Thang]
GO
ALTER TABLE [dbo].[DoanhThuThang]  WITH CHECK ADD  CONSTRAINT [ck_DoanhThuThang_TongChiPhi] CHECK  (([TongChiPhi]>=(0)))
GO
ALTER TABLE [dbo].[DoanhThuThang] CHECK CONSTRAINT [ck_DoanhThuThang_TongChiPhi]
GO
ALTER TABLE [dbo].[DoanhThuThang]  WITH CHECK ADD  CONSTRAINT [ck_DoanhThuThang_TongDoanhThu] CHECK  (([TongDoanhThu]>=(0)))
GO
ALTER TABLE [dbo].[DoanhThuThang] CHECK CONSTRAINT [ck_DoanhThuThang_TongDoanhThu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [ck_HoaDon_TongTien] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [ck_HoaDon_TongTien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [ck_HoaDon_TrangThaiThanhToan] CHECK  (([TrangThaiThanhToan]=N'Đang xử lý' OR [TrangThaiThanhToan]=N'Đã thanh toán' OR [TrangThaiThanhToan]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [ck_HoaDon_TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [ck_HoaDonNhap_TongTien] CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [ck_HoaDonNhap_TongTien]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [ck_MonAn_Gia] CHECK  (([Gia]>(0)))
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [ck_MonAn_Gia]
GO
ALTER TABLE [dbo].[NguyenLieu]  WITH CHECK ADD  CONSTRAINT [ck_NguyenLieu_DonGia] CHECK  (([DonGia]>(0)))
GO
ALTER TABLE [dbo].[NguyenLieu] CHECK CONSTRAINT [ck_NguyenLieu_DonGia]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [ck_ThanhToan_PhuongThucThanhToan] CHECK  (([PhuongThucThanhToan]=N'Ví điện tử' OR [PhuongThucThanhToan]=N'Chuyển khoản' OR [PhuongThucThanhToan]=N'Tiền mặt'))
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [ck_ThanhToan_PhuongThucThanhToan]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [ck_ThanhToan_SoTien] CHECK  (([SoTien]>(0)))
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [ck_ThanhToan_SoTien]
GO
USE [master]
GO
